@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&family=Bebas+Neue&family=Reggae+One&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&family=Sriracha&display=swap");

body {
  font-family: "Roboto";
  font-size: 16px;
}

.header {
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}

.logo {
  width: 180px;
  cursor: pointer;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
 .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu-icon {
    margin-left: 165px;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('menudark.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .menu {
    display: none;
    width: 100%;
    text-align: center;
  }

  .menu.open {
    display: block;
  }

  .menu li {
    display: block;
    margin: 10px 0;
  }  
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu-icon {
    margin-left: 270px;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('menudark.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .menu {
    display: none;
    width: 100%;
    text-align: center;
  }

  .menu.open {
    display: block;
  }

  .menu li {
    display: block;
    margin: 10px 0;
  }
}

.abbbout {
  min-width: 29%;
}
.aboutus-section {
  padding: 90px 0;
  margin: 0;
}
.aboutus-title {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  position: relative;
  text-transform: uppercase;
  color: #000;
}
.active {
  background-color: rgba(251, 198, 32, 255);
  color: white;
}
.aboutus-title::after {
  background: #fdb801 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 54px;
}
.aboutus-text {
  color: black;
  text-shadow: none;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 35px;
}

a:hover,
a:active {
  color: #ffb901;
  text-decoration: none;
  outline: 0;
}
.aboutus-more {
  border: 1px solid #fdb801;
  border-radius: 25px;
  color: #fdb801;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 7px 20px;
  text-transform: uppercase;
}
.feature .feature-box .iconset {
  background: #fff none repeat scroll 0 0;
  float: left;
  position: relative;
  width: 18%;
}

.feature .feature-box .feature-content h4 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}

.feature .feature-box .feature-content {
  float: left;
  padding-left: 45px;
  width: 78%;
}
.feature .feature-box .feature-content h4 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
  margin-left: 20px;
}
.feature .feature-box .feature-content p {
  color: #606060;
  font-size: 13px;
  line-height: 22px;
}
.icon {
  color: #f4b841;
  padding: 0px;
  font-size: 40px;
  border: 1px solid #fdb801;
  border-radius: 100px;
  color: #fdb801;
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 70px;
}
.client:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #ff8159;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.client {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}
.client:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #ff8159;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.kartu {
  margin-bottom: 20px;
}

h5 {
  font-weight: bold;
}
.footer-07 {
  background: #121212;
}
.footer-07 a {
  color: #a3de83;
}
.footer-07 p {
  color: rgba(255, 255, 255, 0.3);
}
.footer-07 .footer-heading {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}
.footer-07 .footer-heading .logo {
  color: #fff;
}
.footer-07 .menu {
  margin-bottom: 30px;
}
.footer-07 .menu a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer-07 .menu a:hover {
  color: #ffb901;
}
.footer-07 .ftco-footer-social li a {
  background: transparent;
  border: 1px solid #a3de83;
}
footer {
  padding: 3em 0;
}
